---
---

@import 3d_text
body
  letter-spacing: normal
  line-height: 1.55
  font-size: 1.6rem
  color: #525252
a
  color: #18af8d
  text-decoration: none
ul
  list-style: none
.sidebar
  width: 25%
  position: fixed
  left: 0
  top: 0
  bottom: 0
  li
    padding-top: 2rem
  a
    color: #eee
    &:hover
      color: white
.container
  width: 95%
.content
  width: 75%
  margin-left: 25%
.date-only
  color: #a7a7a7
  font-style: italic
  font-size: 1.5rem
.moss-bg
  background: #a73737
  background: -webkit-linear-gradient(to left, #a73737 , #7a2828)
  background: linear-gradient(to left, #a73737 , #7a2828)
.primary-bg
  background: #134E5E
  background: -webkit-linear-gradient(to left, #134E5E , #71B280)
  background: linear-gradient(to left, #134E5E , #71B280)
.post-list
  padding: 0
.post-item
  margin-top: 3rem
  margin-bottom: 2rem
  h2, h3, h4, h5, p
    margin: 0
.page-heading
  color: #222
  font-weight: 100
.post-meta
  color: #a1bcc1
  letter-spacing: -0.1rem
  text-transform: uppercase
  font-weight: 100
  font-size: 1.5rem
.upper
  text-transform: uppercase
  text-decoration: underline
.wrapper-post
  margin-top: 1rem
  margin-bottom: 4rem
  >h3
    font-weight: 100
    text-transform: uppercase
