---
---

@import 3d_text
$link: #0489bf
body
  letter-spacing: normal
  line-height: 1.4
  font-size: 1.6rem
  color: #383838
a
  color: $link
  text-decoration: none
ul
  list-style: none
  padding: 0
img
  width: 100%
  height: auto
.archi
  padding-top: 1.2rem
  padding-bottom: 1.2rem
  border-bottom: 1px solid #DDD
.content
  width: 100%
  margin-left: 0
.sidebar
  width: 100%
  position: relative
  li
    padding-top: 2rem
  a
    color: #eee
    &:hover
      color: white
@media screen and (min-width: 768px)
  .sidebar
    width: 25%
    padding-top: 3rem
    position: fixed
    left: 0
    top: 0
    bottom: 0
  .content
    width: 75%
    margin-left: 25%
.container
  width: 95%
.date-only
  color: #797979
  font-size: 1.5rem
  a
    color: white
    background: #6d9997
    padding: 0.35rem 0.8rem
    border-radius: 0.75rem
    text-transform: uppercase
    font-size: 1.0rem
    font-weight: 400
    margin-right: 0.15rem
    vertical-align: center
.moss-bg
  background: #a73737
  background: -webkit-linear-gradient(to left, #a73737 , #7a2828)
  background: linear-gradient(to left, #a73737 , #7a2828)
.primary-bg
  background: #134E5E
  background: -webkit-linear-gradient(to left, #134E5E , #71B280)
  background: linear-gradient(to left, #134E5E , #71B280)
.post-list
  padding: 0
.post-item
  margin-top: 3rem
  margin-bottom: 3rem
  h2, h3, h4, h5, p
    margin: 0
.page-heading
  color: #222
  font-weight: 100
.post-meta
  color: #a1bcc1
  letter-spacing: -0.1rem
  text-transform: uppercase
  font-weight: 100
  font-size: 1.5rem
.upper
  text-transform: uppercase
  text-decoration: underline
.wrapper-post
  margin-top: 4rem
  margin-bottom: 4rem
  h2, h3, h4, h5
    margin-top: 1.5rem
    margin-bottom: 0
    line-height: 1.15
h3.post-main-header
  font-weight: 100
  text-transform: uppercase
  margin-top: 3rem
  margin-bottom: 4rem
