<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gorsky site</title>
    <!-- Google Fonts -->
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"> -->
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- <link rel="stylesheet" href="/css/milligram.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/wingcss" />
    <link rel="stylesheet" href="/css/styleplus.css">
</head>

<body>
    <div class="sidebar primary-bg">
        <h3 class="shadow_text center">Горский дом</h3>
    </div>
    <div class="content">
        <div class="container">
            {{ content }}
        </div>
    </div>
    <!-- {% include footer.html class-bg="primary-bg" %} -->
</body>

</html>
